:root {
    --secondary-color: rgb(34, 128, 71);
    --primary-color: rgb(40, 101, 123);
    --tertiary-color: rgb(156, 49, 7);
    --border-style: 1px solid black;
}

html {
    background-color: rgb(248, 248, 248);
    font-family: "Source Code Pro", monospace;
    line-height: 1.15;
    // font-size: calc(clamp(16px, calc(0.75rem + 1vw), 24px));
}

@media only screen and (max-width: 600px) {
    html {
        margin-inline: 0;
    }
}

@media only screen and (min-width: 600px) {
    html {
        margin-inline: 10vw;
    }
}

@media only screen and (min-width: 768px) {
    html {
        margin-inline: 15vw;
    }
}

@media only screen and (min-width: 992px) {
    html {
        margin-inline: 20vw;
    }
}

@media only screen and (min-width: 1280px) {
    html {
        margin-inline: 25vw;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

body {
    margin-block: 2vh 1vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

::selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}

.prompt {
    font-weight: bold;
    &-whoami {
        color: var(--secondary-color);
    }
    &-path {
        color: var(--primary-color);
    }
    &-command {
        font-weight: normal;
    }
}

.blinking-cursor {
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}
