.posts {
    margin-block: 2vh 1vh;
    > * + * {
        margin-top: 10px;
    }
    a {
        text-decoration: underline;
        &:visited {
            color: black;
        }
        &:hover {
            background: var(--primary-color);
            color: white;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                color: black;
            }
        }
    }
}

.pagination {
    margin-block: 2vh;
}
