.experience {
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        a {
            border: none;
        }
    }

    table {
        width: 100%;
    }
}
