.projects {
    &-list {
        margin-block: 2vh 0;
        > * + * {
            margin-block: 3vh 0;
        }
        &-item {
            &-page-link {
                font-weight: bold;
            }
        }
    }
}

.project {
    &-details {
        ul {
            list-style-type: square;
        }
    }
}
