@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-navigation {
    padding: 10px 40px;
    // position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // background-color: rgba(245, 245, 245, 0.5);
    .links {
        a {
            padding: 15px 10px;
            color: $links-color;
            text-decoration: none;
            &:hover {
                color: $links-hover-color;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }
}

.container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: auto;
    width: 95%;
    text-align: center;
}

.avatar {
    margin: 10px 0;
}

.avatar-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.biography {
    width: 60%;
    margin: auto;
}

.biography-text {
    font-size: 125%;
    line-height: 150%;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 5px 0;
}

.copyright-text {
    color: gray;
}
