<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) | safe }}">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Nguyen Son Linh's Personal Website</title>
</head>
<body>
    <header>
        <nav>
            <h2><a href="{{config.base_url | safe}}">linhns</a></h2>
            <ul>
                {% for item in config.extra.nav_items %}
                    {% set url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
                    <li>
                        <a href="{{url | safe}}">{{item.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <span>© {{config.extra.year}} Nguyen Son Linh.</span>
        <span>Powered by <a href="https://www.getzola.org/">Zola</a></span>
    </footer>
    <script>
        feather.replace()
    </script>
</body>
</html>