{% extends "base.html" %}

{% block content %}
<div class="about">
    {{ prompt_macros::prompt(path="~", command="cat about.txt") }}
    <section>
        <h5 class="about-question">
            What's my name?
        </h5>
        <p class="about-answer">
            Nguyen Son Linh
        </p>
    </section>
    <section>
        <h5 class="about-question">
            Who am I?
        </h5>
        <p class="about-answer">
            Software engineer based in Singapore. Gradually liking Go again.
        </p>
    </section>
    <section>
        <h5 class="about-question">
            Where can I be found?
        </h5>
        <p class="about-answer">
        <ul>
            <li>
                <a href="https://github.com/linhns">github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/linhns/">linkedin</a>
            </li>
        </ul>
        </p>
    </section>
    <section>
        <h5 class="about-question">
            How to contact me?
        </h5>
        <p class="about-answer">
        <ul>
            <li>
                <span>email: linhns59 (at) gmail (dot) com</span>
            </li>
        </ul>
        </p>
    </section>
    {{ prompt_macros::prompt(path="~", command="|", class="blinking-cursor") }}
</div>
{% endblock content %}
