{% extends "base.html" %}

{% block content %}
    {% set parts = page.relative_path | split(pat='/') %}
	{% if parts[0] %}
		{% set dir = parts[0] %}
		{{ prompt_macros::prompt(path="~", command="cd " ~ dir) }}
        {% if parts[1] %}
		    {% set file = parts[1] %}
			{% if parts[2] %}
				{{ prompt_macros::prompt(path="~/" ~ dir, command="cat " ~ file ~ "/" ~ parts[2]) }}
			{% else %}
		    	{{ prompt_macros::prompt(path="~/" ~ dir, command="cat " ~ file) }} 
	    	{% endif %}
	    {% endif %}
	{% endif %}
    {% block subcontent %}
     
    {% endblock subcontent %}
	{{ prompt_macros::prompt(path="~/" ~ dir, command="|", class="blinking-cursor") }}
{% endblock content %}