{% extends "base.html" %}

{% block content %}
<div class="project">
	<div class="project-info">
		<h2 class="project-title">
			{{ page.title }}
		</h2>
		<div class="project-links">
			{% if page.extra.demo %}
				<a href="{{page.extra.demo | safe}}">Demo</a>
			{% endif %}
			
			{% if page.extra.github %}
				|
				<a href="{{page.extra.github | safe}}">GitHub</a>
			{% endif %}

		</div>
	</div>
	<div class="project-details">
		{{ page.content | safe }}
	</div>
</div>

{% endblock content %}