{% extends "section.html" %}

{% block subcontent %}
<div class="projects">
    <div class="projects-list">
        {% for page in section.pages %}
        <div class="projects-list-item">
            <a href="{{ page.permalink | safe }}" class="projects-list-item-page-link">{{ page.title }}</a><span>:</span>
            {% if page.extra.short_description %}
                <span>{{page.extra.short_description | safe}}</span>
            {% endif %}
            <span>({% for link in page.extra.links %}<a href="{{link | safe}}">{{link.name}}</a>{% if loop.last %}{% break %}{% endif %}|{% endfor %})</span>
            <p>{{page.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock subcontent %}