{% extends "page.html" %}

{% block subcontent %}
<div class="project">
	<div class="project-info">
		<h2 class="project-title">
			{{ page.title }}
		</h2>
		<p class="project-description">
			{{ page.description }}
		</p>
		<div class="project-links">
			{% for link in page.extra.links %}
			{% set url = link.url | replace(from="$PROJECT_PAGE_URL/", to=page.permalink) %}
			<a href="{{url | safe}}">{{link.name}}</a>
			{% if loop.last %} {% break %} {% endif %}
			|
			{% endfor %}
		</div>
	</div>
	<div class="project-details">
		{{ page.content | safe }}
	</div>
</div>

{% endblock subcontent %}