{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="section-info">
        <h1 class="section-title">
            {{section.title}}
        </h1>
        <p class="section-description">
            {{section.description}}
        </p>   
    </div>
    <div class="section-pages">
        {% for page in section.pages %}
            <div class="card">
                <div class="card-title">
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                    {% if page.extra.start_date and page.extra.end_date %}
                        {% set start_date = page.extra.start_date %}
                        {% set end_date = page.extra.end_date %}
                        <small class="muted">{{start_date | date(format="%b %Y")}} - {{end_date | date(format="%b %Y")}}</small>
                    {% endif %}
                </div>
                <p>{{page.description | safe}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}