{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="section-info">
        <h1 class="section-title">
            {{section.title}}
        </h1>
        <p class="section-description">
            {{section.description}}
        </p>   
    </div>
    <div class="section-pages">
        {% for page in section.pages %}
            <div class="card">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                <p>{{page.description | safe}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}